h1{
 font-family: 'Rock Salt', cursive;
 font-size: 200%;
 border: 7px solid white;
 margin-bottom: 50px;
}
h4{
 font-family: 'Rock Salt', cursive;
}
body{
  background-color:lavender;
}
.hi{
  display:flex;
  flex-wrap: wrap;
}
.img1{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}

.img2{
  height:300px;
  width:400px;
  margin:5px;
  object-fit:cover;
  border:5px solid white;
}
.img3{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img4{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img5{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img6{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img7{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img8{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img9{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img10{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img11{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img12{
  height:300px;
  width:400px;
  margin:5px;
  object-fit:cover;
  border:5px solid white;
}
.img13{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img14{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img15{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img16{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img17{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img18{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img19{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img20{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img21{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img22{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img23{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img24{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img25{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img26{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img27{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img28{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img29{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
.img30{
  height:300px;
  width:400px;
  margin:5px;
  border:5px solid white;
}
